@(message: String)
@main("Login form") {
	@if(!message.isEmpty()) {
		<p class="bg-warning">@message</p>
	}
	<!-- Jumbotron -->
	<div class="jumbotron">
		<form role="form" class="form-horizontal" action="/account/login" method="POST">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name">
				</div>
				<label for="password" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="password"  name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="SUBMIT" value="Login" class="btn btn-info">
					</div>
				</div>
			</div>
		</form>
	</div>
}
