@main("Register form") {
	<!-- Jumbotron -->
	<div class="jumbotron">
		<h1>File Upload!</h1>
		<form role="form" class="form-inline" id="ajaxform">
			<div class="form-group">
				<label for="upload_file">アップロードファイル</label>
				<input type="file" id="upload_file">
			</div>
			<div class="form-group">
				<button class="btn" id="upload_button">send</button>
				<button class="btn" id="upload_cloudinary">Cloudinary</button>
			</div>
		</form>
		<div class="row" id="image"></div>
	</div>
	<script>
	$ ( function ( ) {
	$ ( '#upload_button' ).click ( function ( ) {
	var file = $ ( '#upload_file' )[ 0 ].files[ 0 ] ;
	if ( file != null ) {
	var us = new UploadService ( ) ;
	us.upload ( file ) ;
	}
	} ) ;
	$ ( "#upload_cloudinary" ).click ( function ( ) {
	uploadCloudinary ( ) ;
	return false ;
	} )
	} ) ;
	</script>
}
